* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 2rem ;
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    align-items: center;
    background-color: rgb(4, 32, 24);
    min-height: 10vh;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}


nav h1 {
    color: rgb(226, 219, 219);
    font-size: 3rem;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
}



/* Main Section */

.main {
    background-color: #dfdbbc;
    min-height: 90vh;
}

.container {

    /* border: 1px solid white; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    flex-grow: 1;
    /* border: 2px solid rgb(0, 47, 255); */
    margin: 3rem ;
    padding: 1rem;
    width: 40rem;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: #19181D;
    padding: 6rem;
    border-radius: 2rem;
    /* flex-grow: 1; */
}

form h3 {
    font-size: 3rem ;
}

form label {
    margin-top: 2rem;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 1rem;
}

form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

form button {
    margin-top: 3rem;
    width: 20%;
    background-color: steelblue;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}


.table-container {
    padding: 1rem;
    width: 70rem;
    flex-grow: 1;
    /* border: 2px solid rgb(255, 8, 0); */
    margin: 3rem ;
}

table {
    flex-grow: 1;
    width: 100%;
    border: 1px solid white;
    background-color: #19181D;
    padding: 6rem;
    border-radius: 2rem;
    height: 1vh;
}

.table-container table tr {
    display: flex;
    border: 1px solid white;
    text-align: center;
}

.table-container th, td{
    /* border: 1px solid white; */
    width: 33.333%;
    word-wrap:break-word;
    padding: 1rem;
}

.table-container a{
    color: rgb(74, 157, 212);
}