<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>Add Book</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="display-4" style="color:white" >Books & Authors DB</h4>
      </div>
      <div class="row">


        <div class="col-sm-auto mx-auto">
          <a href="/authors"><button class="btn">Go to Authors</button></a>
        </div>

        <div class="col-sm-auto mx-auto">
            <a href="#"><button class="btn btn-danger">Log out!</button></a>
        </div>
      </div>


    </div>
  </nav>
    <div class="container-fluid p-5 ">
      <!-- <nav class="navbar navbar-dark bg-dark"> -->
        <!-- <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Books & Authors Database</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a style="color:white" href="#"><span class="fa fa-sign-out"></span> Log out</a></li>
          </ul>
        </div> -->
      <!-- </nav> -->
        <div class="row ">

            <div class="col-sm-6  p-4">
                <h2>Add a book</h2>
                <form action="/add_book" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                    <label class="col-sm-3 col-form-label" >Title </label>
                    <div class="col-sm-10 ">
                        <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" >Description:</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="5" name="desc"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-6 offset-sm-0">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6  p-4">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td>{{book.title}}</td>
                        <td><a href="/books/{{book.id}}">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
