<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>author info</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <h4 class="display-4" style="color:white" >Books & Authors DB</h4>
        </div>
        <div class="row">


          <div class="col-sm-auto mx-auto">
            <a href="/authors"><button class="btn">Go Back</button></a>
          </div>

          <div class="col-sm-auto mx-auto">
              <a href="#"><button class="btn btn-danger">Log out!</button></a>
          </div>
        </div>


      </div>
    </nav>
    <div class="container-fluid  p-5">
      <div class="row ">
        <div class="col-sm-8 p-5">
          <h5>{{author.first_name}} {{author.last_name}}</h5>
          <h6>ID: {{author.id}}</h6>
          <h6>Notes: </h6><p>{{author.notes}}</p>

          <!-- below, lists of books belongs to this author -->
          <h6>Books:</h6>
          <ul>
            {% for book in author.books.all %}
                <li>{{book.title}}</li>
            {% endfor %}
          </ul>

          <!-- here, i will show all books that does not belong to this author -->
          <form action="/link_book/{{author.id}}" method="post">
            {% csrf_token %}
            <div class="form-group row">
              <select class="form-control col-sm-5" name = 'book_id'>
                {% for book in books %}
                  <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
              </select>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
