<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/book_info.css' %}">
    <title>Book Info</title>
</head>

<body>
    <!-- Header and Navbar -->
    <header>
        <nav>
            <h1 id="logo">
                Django
            </h1>
            <h3><a href="/books">Go Back</a></h3>
        </nav>
    </header>

    <section class="main">
        <div class="container">
            <div class="inner-container">
                <table>
                    <tr>
                        <td class="th">Book :</td>
                        <td>{{book.title}}</td>
                    </tr>

                    <tr>
                        <td class="th">ID :</td>
                        <td>{{book.id}}</td>
                    </tr>

                    <tr>
                        <td class="th">Description :</td>
                        <td>{{book.desc}}</td>
                    </tr>
                </table>

                <div class="authors">
                    <h1>Authors</h1>
                </div>
                <div class="list">
                    <ul>
                        {% for author in book.authors.all %}
                        <li>{{author.first_name}} {{author.last_name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form action="/link_author/{{book.id}}" method="POST">
                    {% csrf_token %}
                    <div class="select">
                        <select  name="author_id">
                            {% for author in authors %}
                            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Add</button>
                </form>
            </div>
        </div>
        </div>
    </section>
</body>

</html>