<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Books & Authors</title>
</head>
<body>
    <!-- Header and Navbar -->
    <header>
        <nav>
            <h1 id="logo">
                Django
            </h1>
        </nav>
    </header>

    <section class="main">
        <h1>Books and Authors</h1>
        <p>This project is a practice of incorporating a many-to-many relationship in a full-stack application using Django</p>
        <button ><a href="/books">Start</a></button>
    </section>  
</body>
</html>