<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <title>add a trip</title>
  </head>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="display-4" style="color:white" >Hello {{user.first_name}}!</h4>
      </div>
      <div class="row">


        <div class="col-sm-auto mx-auto">
            <a href="/logout"><button class="btn btn-danger">Log out!</button></a>
        </div>
      </div>

    </div>
  </nav>
    <div class="container-fluid  p-5">

      <div class="row">
        <div class="col-sm-auto mx-auto  pt-4">
          <h6 class="display-4">Create a Trip!</h6>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-12  p-4">
            {% if messages %}
              <div class="alert alert-danger" role="alert">
                <strong>Opps !</strong>
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
      </div>

      <div class="row">
        <div class="col-sm-5 mx-auto  p-4">
          <form action="/add_trip" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label >Destination:</label>
              <input type="text" class="form-control"  name = 'dest'>
            </div>

            <div class="form-group">
              <label >Start Date:</label>
              <input type="date" class="form-control"  name = 'start_date'>
            </div>

            <div class="form-group">
              <label >End Date:</label>
              <input type="Date" class="form-control"  name = 'end_date'>
            </div>

            <div class="form-group">
              <label >Plan:</label>
              <textarea class="form-control" rows="1" name="plan"></textarea>
            </div>
            <a href="/trips" class="btn btn-danger">Cancel</a>
            <a href="trips"><button class="btn">Submit</button></a>
          </form>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
